body{
display:  flex;
justify-content: center;
align-items: center;
height: 40vh;
width: 100vw;
background-color: #FFF


}
.select{
position: relative;
display: flex;
width: 36em;
height: 4em;
line-height: 3;

}
